* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body {
  overflow: hidden;
  user-select: none;
  /* background: #151d25 */
}

[v-cloak] {
  display: none;
}

.logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right; }
  .logo-info__img {
    width: 240px; }

.server-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: -15px;
  width: 100%;
  padding: 0 25px;
  color: #fff; }
  .server-stats__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14.4px; }
  .server-stats__icon {
    margin: 0 10px 0 0; }

.player-stats {
  position: absolute;
  top: 280px;
  right: 32px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: right;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }
  .player-stats__stars {
    font-size: 24px; }
  .player-stats__star {
    margin: 0 0 0 7px;
    opacity: 0.5; }
    .player-stats__star_active {
      opacity: 1; }
  .player-stats__money {
    margin: 18px 0 0; }
  .player-stats__cash {
    font-weight: 700;
    font-size: 27px; }
  .player-stats__bank {
    margin: 11px 0 0;
    font-weight: 600;
    font-size: 18px;
    opacity: .8; }
  .player-stats__icon {
    margin: 0 7px 0 0;
    font-size: 15px; }
  .player-stats__weapon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 35px 0 0; }
  .player-stats__bullet-svg {
    width: 35px;
    height: 35px;
    stroke: #fff;
    fill: #fff; }
  .player-stats__bullet-count {
    margin: 0 0 0 5px;
    font-weight: 500;
    font-size: 20px; }

.time-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 32px;
  bottom: 2%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  text-align: right;
  opacity: 0.8;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom; }
  .time-info_depose {
    right: 15%; }
  .time-info__time {
    font-size: 21px;
    margin: 0 0 2px; }
  .time-info__date {
    font-size: 16px; }

.time-circle {
  position: relative;
  width: 45px;
  height: 45px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 0 0 13px; }
  .time-circle:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #fff; }
  .time-circle__arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 3px;
    height: 70%; }
    .time-circle__arrow:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      background: #fff;
      border-radius: 200px; }
    .time-circle__arrow:nth-child(1) {
      -webkit-animation: timeArrow 3600s infinite linear;
      animation: timeArrow 3600s infinite linear; }
      .time-circle__arrow:nth-child(1):after {
        height: 40%; }
    .time-circle__arrow:nth-child(2) {
      -webkit-animation: timeArrow 60s infinite linear;
      animation: timeArrow 60s infinite linear; }
      .time-circle__arrow:nth-child(2):after {
        height: 50%; }

.player-mic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0 0; }
  .player-mic__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .player-mic__circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .player-mic__circle_enabled {
      background: #fff;
      border-color: #fff;
      -webkit-animation: mic-on .9s infinite linear;
      animation: mic-on .9s infinite linear; }
  .player-mic__img {
    width: 18px; }
  .player-mic__key {
    margin: 0 14px 0 0;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 9px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1); }

.left-side-info {
  position: absolute;
  left: 16.5%;
  bottom: 2%;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom; }

.player-strave {
  padding: 0 0 0 24px;
  margin: 0 0 22px 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25); }
  .player-strave__block:nth-child(1) {
    margin: 0 0 22px; }
  .player-strave__title {
    font-weight: 500;
    font-size: 15px; }
  .player-strave__icon {
    margin: 0 8px 0 0; }

.player-strave-progress {
  margin: 12px 0 0;
  width: 135px;
  height: 6px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 200px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }
  .player-strave-progress__value {
    border-radius: 200px;
    height: 100%; }
    .player-strave-progress__value_water {
      background: -webkit-gradient(linear, left bottom, left top, from(#005aff), to(#00d0ff));
      background: -o-linear-gradient(bottom, #005aff, #00d0ff);
      background: linear-gradient(to top, #005aff, #00d0ff);
      -webkit-box-shadow: 0 0 19px rgba(0, 110, 255, 0.5);
      box-shadow: 0 0 19px rgba(0, 110, 255, 0.5); }
    .player-strave-progress__value_eat {
      background: -webkit-gradient(linear, left bottom, left top, from(#ff4700), to(#ffa500));
      background: -o-linear-gradient(bottom, #ff4700, #ffa500);
      background: linear-gradient(to top, #ff4700, #ffa500);
      -webkit-box-shadow: 0 0 19px rgba(255, 92, 0, 0.5);
      box-shadow: 0 0 19px rgba(255, 92, 0, 0.5); }

.street-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 25px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 200px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2); }
  .street-info__icon {
    font-size: 28px;
    margin: 0 12px 0 0; }
    .street-info__icon_green {
      color: #00ff66;
      text-shadow: 0 0 25px rgba(0, 255, 102, 0.3); }
  .street-info__title {
    font-weight: 600;
    font-size: 14px;
    }
    .street-info__title_green {
      color: #00ff66; }
  .street-info__subtitle {
    margin: 3px 0 0;
    font-weight: 400;
    font-size: 12px; }

  .street-info__subtitle,
  .street-info__title {
    white-space: pre;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

.car-speedometer {
  position: absolute;
  left: 50%;
  bottom: -13px;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateX(-50%) scale(0.82);
  -ms-transform: translateX(-50%) scale(0.82);
  transform: translateX(-50%) scale(0.82); }

.car-speed__speed-count,
.car-fuel__fuel-count {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.car-speed__speed-count {
  left: 50%;
  top: 48%; }

.car-speed__speed {
  font-weight: 700;
  font-style: italic;
  font-size: 55px; }

.car-speed__measure {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.7; }

.car-speed-svg {
  width: 215px;
  height: 215px;
  -webkit-transform: rotate(129deg);
  -ms-transform: rotate(129deg);
  transform: rotate(129deg); }
  .car-speed-svg__circle {
    fill: none;
    stroke-width: 13;
    stroke-dasharray: 606.916;
    stroke-dashoffset: 217; }
    .car-speed-svg__circle_rear {
      stroke: rgba(255, 255, 255, 0.3); }
    .car-speed-svg__circle_frontal {
      stroke: url(#car-speed-gradient); }

.car-fuel {
  position: absolute;
  bottom: 35px;
  right: -25px; }
  .car-fuel__fuel-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 50%;
    top: 68%; }
  .car-fuel__icon {
    width: 26px; }
  .car-fuel__fuel {
    position: relative;
    left: 2px;
    margin: 11px 0 0;
    font-weight: 600;
    font-size: 12px; }

.car-fuel-svg {
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(131deg);
  -ms-transform: rotate(131deg);
  transform: rotate(131deg); }
  .car-fuel-svg__circle {
    fill: none;
    stroke-width: 7;
    stroke-dasharray: 188.191;
    stroke-dashoffset: 43; }
    .car-fuel-svg__circle_rear {
      stroke: rgba(255, 255, 255, 0.3); }
    .car-fuel-svg__circle_frontal {
      stroke: url(#car-fuel-gradient); }

.car-panel {
  position: absolute;
  left: 0;
  top: 0; }
  .car-panel__side {
    position: absolute;
    top: 40px; }
    .car-panel__side_left {
      left: -288px; }
      .car-panel__side_left .car-panel__states {
        top: -2px;
        right: 74px;
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg); }
        .car-panel__side_left .car-panel__states .car-panel__state:last-child {
          margin: 0 0 0 15px; }
      .car-panel__side_left .car-panel__elements {
        right: 72px; }
        .car-panel__side_left .car-panel__elements .car-panel__icon-svg {
          width: 35px;
          margin: 0 0 0 23px; }
        .car-panel__side_left .car-panel__elements #car-alarm {
          top: -2px;
          width: 34px;
          margin: 0 0 0 30px; }
        .car-panel__side_left .car-panel__elements #car-arrow-reversed {
          -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          transform: scaleX(-1);
          margin: 0 0 0 15px; }
        .car-panel__side_left .car-panel__elements #car-arrow {
          margin: 0 0 0 20px; }
    .car-panel__side_right {
      right: -520px; }
      .car-panel__side_right .car-panel__states {
        top: 2px;
        left: 73px;
        -webkit-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
        transform: rotate(-6deg); }
      .car-panel__side_right .car-panel__elements {
        left: 80px; }
        .car-panel__side_right .car-panel__elements .car-panel__icon-svg {
          width: 35px;
          margin: 0 23px 0 0; }
        .car-panel__side_right .car-panel__elements #car-brake {
          width: 32px; }
        .car-panel__side_right .car-panel__elements #car-alarm {
          top: -2px;
          width: 33px; }
        .car-panel__side_right .car-panel__elements #car-arrow-reversed {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
  .car-panel__img {
    width: 272px; }
    .car-panel__img_right {
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1); }
  .car-panel__states {
    position: absolute;
    font-family: "Russo One", sans-serif; }
  .car-panel__state {
    display: inline;
    font-size: 12.5px;
    text-transform: uppercase;
    text-shadow: 0 0 15px #ff2626;
    color: #ff2626; }
    .car-panel__state_enabled {
      color: #0ef941;
      text-shadow: 0 0 15px #0ef941; }
  .car-panel__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 70px; }
  .car-panel__icon-svg {
    position: relative;
    stroke: #fff;
    fill: #fff;
    max-height: 35px;
    opacity: 0.7; }

.other-vehicle-speedometer {
  position: absolute;
  right: 55px;
  bottom: 4px;
  -webkit-transform: scale(0.86);
  -ms-transform: scale(0.86);
  transform: scale(0.86);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom; }

.vehicle-speed__count,
.vehicle-fuel__count {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff; }

.vehicle-speed__speed {
  font-size: 74px;
  font-style: italic; }

.vehicle-speed__measure {
  font-weight: 500;
  font-size: 17px;
  opacity: .7; }

.vehicle-fuel {
  position: absolute;
  right: -30px;
  bottom: 44px; }
  .vehicle-fuel__count {
    top: 71%; }
  .vehicle-fuel__icon {
    width: 35px;
    margin: 0 0 10px; }
  .vehicle-fuel__fuel {
    font-weight: 600;
    font-size: 14px; }

.vehicle-speed-svg__circle,
.vehicle-fuel-svg__circle {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3); }

.vehicle-speed-svg {
  width: 285px;
  height: 285px;
  -webkit-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  transform: rotate(110deg); }
  .vehicle-speed-svg__circle {
    stroke-width: 14;
    stroke-dasharray: 825.492;
    stroke-dashoffset: 263; }
    .vehicle-speed-svg__circle_frontal {
      stroke: url(#car-speed-gradient); }

.vehicle-fuel-svg {
  width: 95px;
  height: 95px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg); }
  .vehicle-fuel-svg__circle {
    stroke-width: 9;
    stroke-dasharray: 276.40;
    stroke-dashoffset: 62; }
    .vehicle-fuel-svg__circle_frontal {
      stroke: url(#vehicle-fuel-gradient); }

.green-light {
  stroke: #05fe00;
  fill: #05fe00;
  -webkit-filter: drop-shadow(0 0 15px #05fe00);
  filter: drop-shadow(0 0 15px #05fe00);
  opacity: 1; }

.blue-light {
  stroke: #00a2fe;
  fill: #00a2fe;
  -webkit-filter: drop-shadow(0 0 15px #00a2fe);
  filter: drop-shadow(0 0 15px #00a2fe);
  opacity: 1; }

.red-light {
  -webkit-animation: red-light .5s infinite ease-in-out;
  animation: red-light .5s infinite ease-in-out; }

.orange-light {
  -webkit-animation: orange-light .4s infinite ease-in-out;
  animation: orange-light .4s infinite ease-in-out; }

.wink {
  -webkit-animation: opacity .8s infinite linear;
  animation: opacity .8s infinite linear; }

.red-light,
.orange-light,
.wink {
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }


.hot-keys {
  position: absolute;
  left: 30px;
  bottom: 23%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  transform-origin: bottom left;
 }
  .hot-keys__wrapper {
    display: none; }
  .hot-keys__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 13px;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6); }
    .hot-keys__desc_visible {
      position: relative;
      top: 23px;
      opacity: .9; }
  .hot-keys__key {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0 11px 0 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    text-align: center;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3); }




@-webkit-keyframes mic-on {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
  40% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.45); }
  90% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); } }

@keyframes mic-on {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
  40% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.45); }
  90% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); } }

@-webkit-keyframes red-light {
  0% {
    stroke: #fff;
    fill: #fff;
    -webkit-filter: none;
    filter: none;
    opacity: .7; }
  100% {
    stroke: #f12222;
    fill: #f12222;
    -webkit-filter: drop-shadow(0 0 15px #f12222);
    filter: drop-shadow(0 0 15px #f12222);
    opacity: 1; } }

@keyframes red-light {
  0% {
    stroke: #fff;
    fill: #fff;
    -webkit-filter: none;
    filter: none;
    opacity: .7; }
  100% {
    stroke: #f12222;
    fill: #f12222;
    -webkit-filter: drop-shadow(0 0 15px #f12222);
    filter: drop-shadow(0 0 15px #f12222);
    opacity: 1; } }

@-webkit-keyframes orange-light {
  0% {
    stroke: #fff;
    fill: #fff;
    -webkit-filter: none;
    filter: none;
    opacity: .7; }
  100% {
    stroke: #ffbc28;
    fill: #ffbc28;
    -webkit-filter: drop-shadow(0 0 15px #ffbc28);
    filter: drop-shadow(0 0 15px #ffbc28);
    opacity: 1; } }

@keyframes orange-light {
  0% {
    stroke: #fff;
    fill: #fff;
    -webkit-filter: none;
    filter: none;
    opacity: .7; }
  100% {
    stroke: #ffbc28;
    fill: #ffbc28;
    -webkit-filter: drop-shadow(0 0 15px #ffbc28);
    filter: drop-shadow(0 0 15px #ffbc28);
    opacity: 1; } }

@-webkit-keyframes opacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

@keyframes opacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

@-webkit-keyframes timeArrow {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes timeArrow {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@media (max-width: 1768px) and (max-height: 992px) {
  body {
    background-size: 100% 630%; }
  .hot-keys {
    transform: scale(0.9)
  }
  .car-speedometer {
    -webkit-transform: translateX(-50%) scale(0.76);
    -ms-transform: translateX(-50%) scale(0.76);
    transform: translateX(-50%) scale(0.76); }
  .left-side-info {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92); }
  .player-stats {
    -webkit-transform: scale(0.94);
    -ms-transform: scale(0.94);
    transform: scale(0.94); }
  .logo-info {
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96); }
  .other-vehicle-speedometer {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .time-info {
    -webkit-transform: scale(0.94);
    -ms-transform: scale(0.94);
    transform: scale(0.94); }
    .time-info_depose {
      right: 15.9%; } }

@media (max-width: 1600px) and (max-height: 900px) {
  body {
    background-size: 100% 585%; }
  .hot-keys {
    transform: scale(0.88);
    left: 21px;
  }
  .car-speedometer {
    -webkit-transform: translateX(-50%) scale(0.7);
    -ms-transform: translateX(-50%) scale(0.7);
    transform: translateX(-50%) scale(0.7); }
  .left-side-info {
    -webkit-transform: scale(0.86);
    -ms-transform: scale(0.86);
    transform: scale(0.86); }
  .player-stats {
    top: 250px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .logo-info {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92); }
  .other-vehicle-speedometer {
    -webkit-transform: scale(0.76);
    -ms-transform: scale(0.76);
    transform: scale(0.76); }
  .time-info {
    -webkit-transform: scale(0.88);
    -ms-transform: scale(0.88);
    transform: scale(0.88); }
    .time-info_depose {
      right: 16.6%; } }

@media (max-width: 1400px) and (max-height: 900px) {
  body {
    background-size: 100% 585%; }
  .hot-keys {
    transform: scale(0.82);
    left: 21px;
  }
  .car-speedometer {
    -webkit-transform: translateX(-45%) scale(0.62);
    -ms-transform: translateX(-45%) scale(0.62);
    transform: translateX(-45%) scale(0.62); }
  .left-side-info {
    -webkit-transform: scale(0.78);
    -ms-transform: scale(0.78);
    transform: scale(0.78); }
  .player-stats {
    top: 250px;
    right: 27px;
    -webkit-transform: scale(0.82);
    -ms-transform: scale(0.82);
    transform: scale(0.82); }
  .logo-info {
    right: -5px;
    -webkit-transform: scale(0.88);
    -ms-transform: scale(0.88);
    transform: scale(0.88);
   }
  .other-vehicle-speedometer {
    right: 50px;
    -webkit-transform: scale(0.68);
    -ms-transform: scale(0.68);
    transform: scale(0.68); }
  .time-info {
    right: 27px;
    -webkit-transform: scale(0.82);
    -ms-transform: scale(0.82);
    transform: scale(0.82); }
    .time-info_depose {
      right: 17.6%; } }

@media (max-width: 1366px) and (max-height: 768px) {
  body {
    background-size: 100% 499%; }
  .hot-keys {
    transform: scale(0.75);
    bottom: 21%;
    left: 21px;
  }
  .hot-keys__desc_visible {
    top: 6px;
  }
  .car-speedometer {
    -webkit-transform: translateX(-45%) scale(0.58);
    -ms-transform: translateX(-45%) scale(0.58);
    transform: translateX(-45%) scale(0.58); }
  .left-side-info {
    -webkit-transform: scale(0.71);
    -ms-transform: scale(0.71);
    transform: scale(0.71); }
  .player-stats {
    top: 230px;
    -webkit-transform: scale(0.77);
    -ms-transform: scale(0.77);
    transform: scale(0.77); }
  .logo-info {
    -webkit-transform: scale(0.84);
    -ms-transform: scale(0.84);
    transform: scale(0.84); }
  .other-vehicle-speedometer {
    -webkit-transform: scale(0.62);
    -ms-transform: scale(0.62);
    transform: scale(0.62); }
  .time-info {
    -webkit-transform: scale(0.77);
    -ms-transform: scale(0.77);
    transform: scale(0.77); }
    .time-info_depose {
      right: 17%; } }

@media (max-width: 1280px) and (max-height: 720px) {
  body {
    background-size: 100% 468%; }
  .hot-keys {
    transform: scale(0.72);
    bottom: 21%;
    left: 21px;
  }
  .hot-keys__desc_visible {
    top: 6px;
  }
  .car-speedometer {
    -webkit-transform: translateX(-45%) scale(0.54);
    -ms-transform: translateX(-45%) scale(0.54);
    transform: translateX(-45%) scale(0.54); }
  .left-side-info {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66); }
  .player-stats {
    top: 230px;
    -webkit-transform: scale(0.74);
    -ms-transform: scale(0.74);
    transform: scale(0.74); }
  .logo-info {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .other-vehicle-speedometer {
    -webkit-transform: scale(0.56);
    -ms-transform: scale(0.56);
    transform: scale(0.56); }
  .time-info {
    -webkit-transform: scale(0.76);
    -ms-transform: scale(0.76);
    transform: scale(0.76); }
    .time-info_depose {
      right: 17%; } }
